/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;/*cambia la medida rem(16px) a 10 px*/  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header*/
.header-estilos{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1919;
}
.header-img{
    width: 100px;
    border-radius: 100%;;

}

.menu{
flex-grow: 0;

}
.color-button{
    background-image: url(./img/hamburger-2-menu-mobile-svgrepo-com.svg);
}

.border-button{
    border: none;
}

.estilos-nav{
    font-size: 20px;
    text-decoration: none;
    color: #f0f8ff; 
}



/*main index*/
.main-index{
    background-color: #1a1919f8;
    background-size: contain;
    width: 100%;
    height: 100%;
    color: #f0f8ff;


}

.titulo-index{
    padding: 20PX;
    font-size: x-large;
    position: relative;
    top: 10px;
    left: 20px;
    width: 23%;
    
    
}
.contenedor-inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    position: relative;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a1919f8;   
    align-items: center;
    color: #f0f8ff;
}

.card-imagen{
    display: flex;
}

.card img{
    width: 300px;
    height: 300px;
    margin: 50px;
    justify-content: center;
    border-radius: 0px 30px 0px 30px;
    overflow: hiden;
    box-shadow: 13px 10px 11px 0px rgba(0,0,0,0.75);
}
.card-texto{
    font-size: 20px;
    margin: 40px;
}


/*main sobre-nosotros*/
.contenedor-sn{
    display: grid;
    background-color: #1a1919f8;
    grid-template-columns: 1fr;
    p{
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        color: #f0f8ff  ;

    }

}
.encabezado-sn{
    margin: 20px;
    h1{
        font-size: 20px;
        text-align: center;
        color: #f0f8ff  ;
    }
}


.menu-sn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
    justify-items: center;
    align-items: center;
    
}

.hijo-menu{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    position: relative;

}

.hijo-menu .item-img img {
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 175px;
    width: 50px;
    height: 50px;
    color: #f0f8ff ;
}
.hijo-menu .item-h2 h2{
    position: absolute;
    left: 170px;
    color: #f0f8ff ;
}








/*main menu*/
.contenedor-menu{
    background-color: #1a1919f8;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.pag-menu img{
    margin: 10px;
    width: 650px;
    height: 700px;
    object-fit:cover ;

    
}



/*main contacto*/


.contenedor-cto{
    background-color: #1a1919f8;
    display: grid;
    position: relative;
    grid-template-columns: 730px 400px;
    justify-content: center;
    color: aliceblue;
}

.mensaje-cto{
    font-size: 20px;
    font-weight: 400;
    width: 380;
    height: 280px;
    padding: 30px;
    text-align:left;
    margin: 30px 30px 250px 30px;
    align-items: center;

}
form{
    padding: 10px;

}

.formulario-cto{
    
    margin: 30px 30px 250px 30px ;
    font-size: 20px;

}

.hijo-form{
    margin-bottom: 1rem;
}
.nieto-form{
    display: block;
    width: 100%;
    padding: 2px 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #f0f8ff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*main ubicacion*/

.contenedor-ubi{
    color: #f0f8ff ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 20px;
    font-weight: 400;
    background-color: #1a1919f8;
}

.ubicacion{
    margin:100px;
}

.horario{
    margin: 30px;
}
.mapa{
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    margin:100px;
    width: 600px;
}






/*footer*/
footer{
    background-color: #1a1919;
}
.redes {
    color: #f0f8ff ;
    font-size: x-large;
}
.redes .hijos img{
    width: 50px;
    height: 50px;
}

.redes .hijos{
    display: grid;
    grid-template-columns: repeat(2 , 100px) 1fr;
    padding: 10px;
    align-items: center;
}

/* media query tablet */

@media screen and (min-width: 768px) and (max-width: 1024px){

    /*index*/
    .titulo-index {
        width: 36%;
    }
    .card-imagen{
        display:grid;
        justify-content: center;
    }

    /* sobre nosotros */
    .menu-sn{
        grid-template-columns: 1fr;
    }

    /* Menu */
    .contenedor-menu{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .pag-menu{
        display: flex;
        justify-content: center;
    }
    /* Contacto */
    .contenedor-cto{
        grid-template-columns: 1fr;
    }
    .mensaje-cto{
        margin: 0px;
        margin-top: 35px;
    }
    .formulario-cto{
        padding: 30px;
        margin-bottom: 100px ;
    }
    /* Ubicacion */
    .contenedor-ubi{
        grid-template-columns: 1fr;
    }
}

/* media query mobile */

@media screen and ( min-width: 320px) and ( max-width: 767px){
    /* index */
    .titulo-index {
        width: 100%;
    }
    .card-imagen{
        display:grid;
        justify-content: center;
    }
    /* Sobre nosotros */
    .menu-sn{
        grid-template-columns: 1fr;
    }
    /* Menu */
    .contenedor-menu{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .pag-menu{
        display: flex;
        justify-content: center;
        width: min-content;
        height: min-content;
    }
    /* Contacto */
    .contenedor-cto{
        grid-template-columns: 1fr;
    }
    .mensaje-cto{
        margin: 0px;
        margin-top: 35px;
    }
    .formulario-cto{
        padding: 30px;
        margin-bottom: 100px ;
    }
    /* Ubicacion */
    .contenedor-ubi{
        grid-template-columns: 1fr;
    }
    .ubicacion{
        margin: 0px;
        width: 60%;
    }
    .mapa{
        width: 60%;
        margin: 10px;
    }
    /* footer */
    .redes .hijos{
        grid-template-columns: repeat(2 , 100px) 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        'ig txt txt'
        'face txt txt';
    }
    .hijo-1{
        grid-area: ig;
    }
    .hijo-2 {
        grid-area: face;
    }
    .hijo-3{
        grid-area: txt;
    }
}
