/*main sobre-nosotros*/
.main-sobre-nosotros{

    .contenedor-sn{
        min-height: 75vh;
        display: grid;
        background-color: $bgcolor-principal;
        grid-template-columns: 1fr;
        color: $color-principal ;
        p{
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
            color: $color-principal;
        }
        .encabezado-sn{
            margin: 20px;
            h1{
                @extend %titulos;
                text-align: center;
                color: $color-principal ;
            }
        }
        .menu-sn{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin: 20px;
            justify-items: center;
            align-items: center;     
            .hijo-menu{
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                @include sizes(400px , 400px);
                align-items: center;
                justify-content: center;
                position: relative;
                .item-img{
                    img{
                        justify-content: center;
                        position: absolute;
                        top: 60px;
                        left: 175px;
                        @include sizes(50px , 50px);
                        color: $color-principal;
                    }
                }
                .item-h2 {
                    h2{                    
                        position: absolute;
                        left: 170px;
                        color: $color-principal ;
                    }
                }
            }
        }
        .carrusel-sn{
            .carousel{
                .carrusel-img{
                    .img-carrusel {
                        margin: 20px 60px 20px 60px;
                        @include sizes(710px , 400px);
                        /* object-fit: cover;  */
                    }
                }
            }

        }
        .contenedor-vid{
            display: flex;
            justify-content: center;
        }
    }

}