/*main menu*/
.main-menu{
    .contenedor-menu{
        background-color: $bgcolor-principal;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .pag-menu{
        img{
            margin: 10px;
            @include sizes(650px , 700px);
            object-fit:cover ;
        }
    }
}