/*main ubicacion*/
.main-ubicacion{

    .contenedor-ubi{
        color: $color-principal ;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 20px;
        font-weight: 400;
        background-color: $bgcolor-principal;
        .ubicacion{
            h1{
                @extend %titulos;
            }
            margin:100px;
            .horario{
                margin: 30px;
            }
        }
        .mapa{
            border-radius: 20px 20px 20px 20px;
            overflow: hidden;
            margin:100px;
            width: 600px;
        }
    }
}