/*main index*/

.main-index{
    background-color: $bgcolor-principal;
    background-size: contain;
    @include sizes(100% , 100%);
    color: $color-principal;

    .titulo-index{
        padding: 20PX;
        @extend %titulos;
        position: relative;
        top: 10px;
        left: 20px;
        width: 23%;
    }
    .contenedor-inicio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;
        position: relative;   
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $bgcolor-principal;   
        align-items: center;
        color: $color-principal;
    }
    .card-imagen{
        display: flex;
    }
    .card img{
        @include sizes(300px , 300px);
        margin: 50px;
        justify-content: center;
        border-radius: 0px 30px 0px 30px;
        overflow: hiden;
        box-shadow: 13px 10px 11px 0px rgba(0,0,0,0.75);
    }
    .card-texto{
        font-size: 20px;
        margin: 40px;
    }
}

