/* media query tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){
/*index*/
.main-index{
    .titulo-index {
        width: 36%;
    }
    .contenedor-inicio{
        .card{
            .card-imagen{
                display:grid;
                justify-content: center;
            }
        }
    }
}

/* sobre nosotros */
    .main-sobre-nosotros{
        .contenedor-sn{
            .menu-sn{
                grid-template-columns: 1fr;
            }
        }
    }
}

/* Menu */
.main-menu{
    .contenedor-menu{
        .titulo-menu {
            color: $color-principal;
            padding: 20PX;
            @extend %titulos;
        }
        .menu-bar{
            grid-template-columns: 1fr;
            justify-content: center;
        }
        .pag-menu{
            display: flex;
            justify-content: center;
        }
    }
} 

/* Contacto */
.main-contacto{
    .contenedor-cto{
        grid-template-columns: 1fr , 1fr;
        .mensaje-cto{
            align-items: flex-start;
        }
    }
}

/* Ubicacion */
.main-ubicacion {
    .contenedor-ubi {
        padding: 50px 0px 50px 0px;
        .ubicacion {
            display: flex;
            justify-content: center;
            align-items: center;
            .flex-ubi {
                margin: 0px;
                width: 80%;
            }
        }
        .mapa {
            display: flex;
            justify-content: center;
            margin: 0px;
            width: 100%;
            padding: 20px;
        }
    }
}


/* media query mobile */

@media screen and ( min-width: 320px) and ( max-width: 767px){
    /*index*/
.main-index{
    .titulo-index {
        width: 80%;
    }
    .contenedor-inicio{
        .card{
            .card-imagen{
                display:grid;
                justify-content: center;
                img{
                    width: 300px;
                    margin: 15px 0px 15px 0px;
                }
            }
        }
    }
}

/* sobre nosotros */
.main-sobre-nosotros{
    .contenedor-sn{
        .encabezado-sn{
            margin: 10% 50% 10% 0%;
            width: 100%;
            h1{
                width: 100%px;

                
            }
        }
        .menu-sn{
            grid-template-columns: 1fr;
            margin: 10% 0% 10% 0%;
            
            .hijo-menu{
                width: 100%;
                .item-img{
                    img{
                        left:45%;
                    }
                }
                .item-h2{
                    h2{
                        left: 45%;
                    }
                }
            }
        }
        .contenedor-vid {
            display: flex;
            justify-content: center;
            .video-cafe {
                iframe{
                    width: 320px;
                }
            }
        }
    }
}



/* Menu */
.main-menu{
    .contenedor-menu{
        grid-template-columns: 1fr;
        justify-content: center;
        
        .pag-menu{
            display: flex;
            justify-content: center;
            img{
                margin: 10px;
                @include sizes(300px , 400px);
                object-fit: cover;
            }
        }
    }
}
/* Contacto */
.main-contacto {
    .contenedor-cto {
        grid-template-columns: 1fr;

        .mensaje-cto {
            align-items: flex-start;
            .flex-msj{
                @include sizes(320px , 280px);
                margin-bottom: 50px;
                padding: 0px;
            }
        }
    }
}

/* Ubicacion */
.main-ubicacion{
    .contenedor-ubi{
        grid-template-columns: 1fr;
        .ubicacion{
                            display: flex;
                                justify-content: center;
            .flex-ubi{

                margin: 0px;
                width: 80%;
            }
        }
        .mapa{
            display: flex;
            justify-content: center;
            margin: 0px;
            width: 100%;
            iframe{
                @include sizes(300px, 380px);
            }
        }
    }
}



footer{
    .redes {
        .hijos{
            grid-template-columns: repeat(2 , 100px) 1fr;
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
            'ig txt txt'
            'face txt txt';
            .hijo-1{
                grid-area: ig;
            }
            .hijo-2 {
                grid-area: face;
            }
            .hijo-3{
                grid-area: txt;
            }
        }
    }
}
}





