/*footer*/
footer{
    background-color: $bgcolor-principal;
    .contenedor-ft{
        .redes {
            color: $color-principal;
            font-size: x-large;
            .hijos{
                display: grid;
                grid-template-columns: repeat(2 , 100px) 1fr;
                padding: 10px;
                align-items: center;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
} 
